body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#dataDisplay {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Container to center the loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    z-index: 999;
    position: aboslute;
    transition: all 0.3s linear;
}

/* The Spinner Itself */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card {
    width: 18rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    font-size: 1.2rem;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}